[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
polygnosis = "5CfAUpyrfNB41oLcqAXNKuG8WKPkpX7kbL6jysJrioac"

[programs.devnet] # Add this section
polygnosis = "5CfAUpyrfNB41oLcqAXNKuG8WKPkpX7kbL6jysJrioac"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
